*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    height:100vh;
}

.left{
    width:50%;
    background: linear-gradient(to bottom, #8b99c6e9, #d7b69abe);
}

.right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ffffff;
}

.login-form{
    width:600px;
    padding:30px;
}

.login-form h2{
    color:#b64926;
    font-weight:bold;
    margin-bottom:20px;
}

.input-container{
    margin-bottom:15px;
}

.input-container label{
    display:block;
    margin-bottom: -14px;
    font-weight:bold;
}

.input-container input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
}

.remember-me{
    display:flex;
    align-items:center;
    gap:6px;
    margin:15px auto;
}

.remember-me label{
    font-weight:normal;
}

button{
    width:100%;
    padding:10px;
    background:#c65b39;
    color:white;
    font-weight: bold;
    font-size:16px;
    border:none;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

@media (max-width:600px){

    body{
        display:block;
    }

    .left{
        display:none;
    }

    .right{
        width:100%;
        height:100vh;
    }

    .login-form{
        width:100%;
    }
}